# This is not a pure allow list but an exclusion list
# simulating allow listing with *+!

# Exclude all by default
*

# Allow configuration files
!package.json
!package-lock.json
!nginx.conf
!Caddyfile
!Dockerfile.caddy

# Allow source code and public assets
!public
!src

# Viktigt för Node-projekt
node_modules