/* Defines color variables */
:root {
    --button-bg-color: #555; /* Default background color */
    --button-hover-lightness: 50%; /* Ljusstyrkan för hover-effekten */
  }
  
  /* Knappstil */
  .button {
    background-color: var(--button-bg-color);
    color: #fff;
    font-size: 23px;
    padding: 11px 36px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease; /* Gör övergången mjuk */
  }
  
  /* Hover-effekt */
  .button:hover {
    color: #2d2d2d;
    background-color: hsl(var(--button-hue), var(--button-saturation), calc(var(--button-lightness) + var(--button-hover-lightness)));
  }
  